# .gitignore

.DS_store
.DS_Store
*.log
__pycache__/
.nfs*
*.fits
matplotlibrc.py
*.npy
*.tar.gz
*.mplstyle
*.out
venv/
*.pyc
*.o
*.mod
*.exe
.DS_Store
nr
SPECTRA/CKC14/*
OUTPUTS/*
CodeToDo.txt
runsps.f90
metalml.f90
colorteff.f90
bytype.f90
Makefile.prv
